@model IndexModel

<div class="p-3 mb-2 bg-dark text-warning">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active bg-warning" aria-current="page" asp-controller="Home" asp-action="Index">TOP</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-warning" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" asp-controller="Movies" asp-action="Category" asp-route-id="@Model.Categories"> Categories</a>
            <ul class="dropdown-menu">
                @foreach (var category in Model.Categories)
                {
                    <li><a class="dropdown-item" asp-controller="Home" asp-action="Index" asp-route-id="@category.Id">@category.Title</a></li>
                }
                </ul>
        </li>
    </ul>
</div>
<div class="row">

    @foreach (var movie in Model.Movies)
    {
    <div class="col-md-4 col-sm-12 mb-3">
        <div class="card" style="max-width: 400px; max-height: 250px;"><img src="@movie.Pic" class="card-img-top" alt="..."></div>
        <div class="card-body bg-dark">
            <p>
                <u>
                    <a class="text-warning" asp-controller="Home" asp-action="Index" asp-route-id="@movie.Id">@movie.Title</a>
                </u>
            </p>
            <div class="card-footer">
                <p class="card-text"><small class="text-muted">@movie.AvailableTime</small></p>
            </div>
        </div>
    </div>
            }
        </div>
    
