<div class="p-3 mb-2 bg-dark text-warning">
    @model CategoryModel

    <ul class="nav nav-pills mb-3">
        @foreach (var category in Model.Categories)
        {

            <li class="nav-item @(ViewContext.RouteData.Values["action"].ToString() == "Category" ? "active" : "")">
                <a class="nav-link text-warning" asp-controller="Movies" asp-action="Category" asp-route-id="@category.Id">@category.Title</a>
            </li>
        }
    </ul>
</div>


@if (Model.ActiveCategory != null)
{
    <li class="nav-item">
        <a class="nav-link active text-dark bg-warning" asp-controller="Movies" asp-action="Category" asp-route-id="@Model.ActiveCategory.Id">@Model.ActiveCategory.Title</a>
    </li>
}



@if (Model.Movies != null)
{
    @foreach (var movie in Model.Movies)
    {
        <div class="card mb-3" style="max-width: 1200px;">
            <div class="row no-gutters">
                <div class="col-md-4"><img src="@movie.Pic" class="img-fluid" alt="..."></div>
                <div class="col-md-8 bg-dark">
                    <div class="card-body">
                        <a class="text-warning" asp-controller="Movies" asp-action="Movie" asp-route-id="@movie.Id">@movie.Title</a>
                        <p class="card-text, text-warning">@movie.Description</p>
                        <p class="card-text"><small class="text-muted">@movie.AvailableTime</small></p>
                    </div>
                </div>
            </div>
        </div>
    }
}