@model List<CinemaLogic.DB.Bookings>

<div class="p-1 mb-2 bg-dark text-light">
    <ul class="nav nav-pills mb-3">
        <li class="nav-item ">
            <a class="nav-link" asp-controller="UserController" asp-action="Login">Log In</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link" asp-controller="UserController" asp-action="Register">Sign Up</a>
        </li>

    </ul>

</div>





@if (Model.Count != 0)
{
    @foreach (var booking in Model)
    {
        <div class="card mb-3" style="max-width: 1200px;">
            <div class="row no-gutters">
                <div class="col-md-4"><img src="@booking.Pic" class="img-fluid" alt="..."></div>
                <div class="col-md-8 bg-dark">
                    <div class="card-body @(ViewContext.RouteData.Values["action"].ToString() == "Booking" ? "active" : "")">
                        <a class="text-warning" asp-controller="Bookings" asp-action="Booking" asp-route-id="@booking.Id">@booking.Title</a>
                        <p class="card-text, text-warning">@booking.Description</p>
                        <p class="card-text"><small class="text-muted">@booking.SelectedTime</small></p>
                        <a class="btn btn-warning" asp-controller="Bookings" asp-action="CancelBooking" asp-route-id="@booking.Id">Cancel booking</a>
                    </div>
                </div>
            </div>
        </div>
    }
}

else
{
    <div class="alert alert-warning" role="alert">You don't have any active bookings!</div>
}
